
<table align='center' border=1>
<tr><th colspan=5>Hard Drive List</tn></tr>
<tr>
    <td>HDD</td><td>Device Model</td><td>Serial Number</td><td>hours on</td><td>self test</td>
</tr>
{% for i in hddlist %}
{% cycle '<tr><td>' '<td>' '<td>' '<td>' '<td>' %}
{{ i }}
{% cycle '</td>' '</td>' '</td>' '</td>' '</td></tr>' %}
{% endfor %}
<tr><td colspan=5><a href="{% url 'wipe' %}">wipe all drives</a></td></tr>
</table>
</br>
instructions:
<ul>
<li>plug all drives in.  be sure to physically attach them in order to help identify.</li>
<li>refresh page</li>
<li>check that all drives appear</li>
<li>any drives that don't show up are dead, replace with a different drive and refresh</li>
<li>Any drives that fail the self test are bad, replace and refresh</li>
<li>any drives over 30000 hours are too old, replace and refresh</li>
<li>hit wipe all drives</li>
<li>come back tomorrow and check,  this page won't refresh or show progress, it will simply display a message when it's done</li>
</ul>
