<h1>DriveZilla DriveWiper!</h1>

instructions:
<ul>
<li>read all instructions</li>
<li>plug all drives in.</li>
<li>click test drives</li>
<li>check that all drives appear. the Bays can be tricky sometimes.</li>
<li>any drives that don't show up need to be tested further but are probably dead.</li>
<li>Any drives that fail the self test are bad, replace and refresh</li>
<li>any drives over 35040 hours are too old, replace and refresh</li>
<li>Any drives that are over 17520 hours are too old for wowrack builds</li>
<li>hit wipe all drives</li>
<li>you will NOT see any progress indicator</li>
<li>leave the page open and come back tomorrow to check.  It will tell you when it's done</li>
</ul>
<a href="{% url 'main' %}">test drives</a>
